
@font-face {
    font-family: 'ea_font_v1.5_by_ghettosharkRg';
    src: url('/fonts/easports15-webfont.woff2') format('woff2'),
         url('/fonts/easports15-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dream_mmaregular';
    src: url('/fonts/dream_mma-webfont.woff2') format('woff2'),
         url('/fonts/dream_mma-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'supremeregular';
        src: url('/fonts/suprrg__-webfont.woff2') format('woff2'),
         url('/fonts/suprrg__-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;

}

@font-face {
    font-family: 'sofachromeitalic';
    src: url('/fonts/sofachrome_rg_it-webfont.woff2') format('woff2'),
         url('/fonts/sofachrome_rg_it-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'sofachromeregular';
    src: url('/fonts/sofachrome_rg-webfont.woff2') format('woff2'),
         url('/fonts/sofachrome_rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'viafontregular';
    src: url('/fonts/viafont-webfont.woff2') format('woff2'),
         url('/fonts/viafont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'viafontregular';
    src: url('/fonts/viafont-webfont.woff2') format('woff2'),
         url('/fonts/viafont-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'espregular';
    src: url('/fonts/esp-webfont.woff2') format('woff2'),
         url('/fonts/esp-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'esp_bold_italicregular';
    src: url('/fonts/esp_bdit-webfont.woff2') format('woff2'),
         url('/fonts/esp_bdit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'esp_boldregular';
    src: url('/fonts/esp_bold-webfont.woff2') format('woff2'),
         url('/fonts/esp_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'esp_italicregular';
    src: url('/fonts/esp_ital-webfont.woff2') format('woff2'),
         url('/fonts/esp_ital-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'jersey_m54regular';
    src: url('/fonts/jersey_m54-webfont.woff2') format('woff2'),
         url('/fonts/jersey_m54-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}